<footer-cmp inline-template>
    <footer class="footer">
        {% include "@components/base/footer/distribution/template.twig" %}
        <div class="container">
            <div class="footer__container">
                <div class="footer__left">
                    <a v-link href="/" class="footer__logo">
                        <svg width="115" height="52" viewbox="0 0 115 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8431_2544)">
                                <path d="M100.626 0C101.904 0 102.968 1.8102 102.968 4.47224C102.968 10.0093 102.968 15.4398 102.968 20.9769C102.968 22.4676 102.649 24.5972 102.01 27.3658C101.904 27.8982 101.478 28.2176 100.945 28.2176H100.306C99.7739 28.2176 99.348 27.8982 99.2415 27.3658C98.6026 24.5972 98.2832 22.4676 98.2832 20.9769C98.2832 15.4398 98.2832 10.0093 98.2832 4.47224C98.2832 1.8102 99.6675 0 100.626 0Z" fill="#10B6AA"/>
                                <path d="M97.0053 27.6852L94.1303 28.0047C93.5979 28.1111 93.0655 27.6852 92.959 27.1528V27.0463C92.959 26.7269 93.1719 26.4074 93.3849 26.1945L97.1118 23.5324C97.2182 23.4259 97.3247 23.5324 97.3247 23.6389C97.4312 24.3843 97.6442 25.3426 97.8571 26.4074C98.0701 27.0463 97.6442 27.5787 97.0053 27.6852C97.1118 27.6852 97.1118 27.6852 97.0053 27.6852Z" fill="#10B6AA"/>
                                <path d="M108.184 27.0463C108.184 27.5787 107.758 28.1111 107.119 28.1111H107.013L104.138 27.7917C103.606 27.6852 103.18 27.1528 103.18 26.6204V26.5139C103.393 25.4491 103.606 24.4908 103.712 23.7454C103.712 23.6389 103.819 23.6389 103.925 23.6389L107.758 26.3009C108.078 26.4074 108.184 26.7269 108.184 27.0463Z" fill="#10B6AA"/>
                                <path d="M114.788 18.1019V18.6343C114.788 19.2731 114.255 19.8056 113.617 19.6991C111.167 19.3796 104.033 18.3148 104.033 18.3148V10.5417C104.033 10.4352 104.14 10.3287 104.246 10.4352L113.723 16.2917C114.362 16.6111 114.788 17.3565 114.788 18.1019Z" fill="#10B6AA"/>
                                <path d="M87.5277 16.1852L97.0046 10.3287C97.111 10.2222 97.2175 10.3287 97.2175 10.4352V18.2083C97.2175 18.2083 90.0833 19.2732 87.6342 19.5926C86.9953 19.6991 86.4629 19.1667 86.4629 18.5278V17.9954C86.4629 17.3565 86.8888 16.6111 87.5277 16.1852Z" fill="#10B6AA"/>
                                <path d="M95.3001 10.1157V10.3287L91.8927 12.4583C91.7862 12.5648 91.6797 12.4583 91.6797 12.3519V10.1157C91.6797 9.37037 92.2121 8.83798 92.9575 8.83798H93.9158C94.6612 8.7315 95.3001 9.37037 95.3001 10.1157Z" fill="#10B6AA"/>
                                <path d="M109.57 10.0092V12.2453C109.57 12.3518 109.463 12.4583 109.357 12.3518L105.949 10.2222V9.90276C105.949 9.15739 106.588 8.62497 107.227 8.62497H108.185C109.037 8.73145 109.57 9.26387 109.57 10.0092Z" fill="#10B6AA"/>
                                <path d="M13.5227 17.037H5.5366V25.5556H11.3931C11.7125 25.5556 11.9255 25.7685 11.9255 26.088V29.2824C11.9255 29.6019 11.7125 29.8148 11.3931 29.8148H5.5366V43.125C5.5366 43.4444 5.32364 43.6574 5.0042 43.6574H1.80975C1.49031 43.5509 1.27734 43.338 1.27734 43.125V13.3102C1.27734 12.9907 1.49031 12.7778 1.80975 12.7778H13.5227C13.8422 12.7778 14.0551 12.9907 14.0551 13.3102V16.5046C14.0551 16.8241 13.8422 17.037 13.5227 17.037Z" fill="#10B6AA"/>
                                <path d="M19.9124 43.6574H16.718C16.3985 43.6574 16.1855 43.4444 16.1855 43.125V13.3102C16.1855 12.9907 16.3985 12.7778 16.718 12.7778H19.9124C20.2318 12.7778 20.4448 12.9907 20.4448 13.3102V43.2315C20.4448 43.4444 20.2318 43.6574 19.9124 43.6574Z" fill="#10B6AA"/>
                                <path d="M51.6436 43.6574H48.2362C47.9167 43.6574 47.7038 43.4444 47.7038 43.125V29.4954H41.6343V43.125C41.6343 43.4444 41.4214 43.6574 41.1019 43.6574H37.6945C37.3751 43.6574 37.1621 43.4444 37.1621 43.125V13.3102C37.1621 12.9907 37.3751 12.7778 37.6945 12.7778H41.1019C41.4214 12.7778 41.6343 12.9907 41.6343 13.3102V25.3426H47.7038V13.3102C47.7038 12.9907 47.9167 12.7778 48.2362 12.7778H51.6436C51.963 12.7778 52.176 12.9907 52.176 13.3102V43.2315C52.176 43.4444 51.963 43.6574 51.6436 43.6574Z" fill="#10B6AA"/>
                                <path d="M58.0315 43.6574H54.8371C54.5177 43.6574 54.3047 43.4444 54.3047 43.125V24.0648C54.3047 23.7454 54.5177 23.5324 54.8371 23.5324H58.0315C58.351 23.5324 58.5639 23.7454 58.5639 24.0648V43.125C58.5639 43.4444 58.351 43.6574 58.0315 43.6574ZM58.0315 21.4028H54.8371C54.5177 21.4028 54.3047 21.1898 54.3047 20.8704V17.5694C54.3047 17.25 54.5177 17.037 54.8371 17.037H58.0315C58.351 17.037 58.5639 17.25 58.5639 17.5694V20.8704C58.5639 21.0833 58.351 21.4028 58.0315 21.4028Z" fill="#10B6AA"/>
                                <path d="M73.4731 23.9583C73.4731 23.6389 73.2601 23.4259 72.9407 23.4259H69.7462C69.4268 23.4259 69.2138 23.6389 69.2138 23.9583V24.2778C66.5518 23.7454 64.6351 23.4259 64.1027 23.4259C63.0379 23.4259 62.0796 23.7454 61.6536 24.3843C61.0148 25.0232 60.6953 26.088 60.6953 27.2593V39.3982C60.6953 40.6759 61.1212 41.8472 61.8666 42.5926C62.612 43.338 63.6768 43.6574 64.7416 43.6574H69.2138V47.7037H64.9546V46.3195C64.9546 45.6806 64.5286 45.2546 63.8898 45.2546H61.7601C61.1212 45.2546 60.6953 45.6806 60.6953 46.3195V48.5556C60.6953 50.2593 61.5472 51.1111 63.0379 51.1111H71.024C72.7277 51.1111 73.3666 50.2593 73.3666 48.5556V23.9583H73.4731ZM69.2138 40.463H66.4453C65.487 40.463 64.9546 40.037 64.9546 38.8657V28.3241C64.9546 27.2593 65.487 26.7269 66.4453 26.7269C66.8712 26.7269 67.8296 26.7269 69.2138 26.9398V40.463Z" fill="#10B6AA"/>
                                <path d="M112.444 23.4259H114.36C114.786 23.4259 114.999 23.6389 114.999 23.9583V43.2315C114.999 43.5509 114.786 43.7639 114.36 43.7639H112.444C112.018 43.7639 111.805 43.5509 111.805 43.2315V23.9583C111.805 23.6389 112.018 23.4259 112.444 23.4259Z" fill="#10B6AA"/>
                                <path d="M35.565 23.5324H31.8381C31.6252 23.5324 31.4122 23.7454 31.3057 23.9583L28.8567 36.4167L26.3011 23.8519C26.3011 23.6389 26.0881 23.4259 25.7687 23.4259H22.0418C21.8289 23.4259 21.7224 23.6389 21.8289 23.7454L26.5141 42.9121V50.5787C26.5141 50.8982 26.727 51.1111 27.0465 51.1111H30.4539C30.7733 51.1111 30.9863 50.8982 30.9863 50.5787V42.8056L35.565 23.8519C35.8844 23.7454 35.6715 23.5324 35.565 23.5324Z" fill="#10B6AA"/>
                                <path d="M92.9588 43.6574H91.2551C90.8292 43.6574 90.5098 43.4444 90.5098 43.2315V32.4768C90.5098 32.1574 90.8292 32.0509 91.2551 32.0509H92.9588C93.3848 32.0509 93.7042 32.2639 93.7042 32.4768V43.2315C93.7042 43.4444 93.3848 43.6574 92.9588 43.6574Z" fill="#10B6AA"/>
                                <path d="M98.2831 43.6574H96.5794C96.1534 43.6574 95.834 43.4444 95.834 43.2315V32.4768C95.834 32.1574 96.1534 32.0509 96.5794 32.0509H98.2831C98.709 32.0509 99.0284 32.2639 99.0284 32.4768V43.2315C99.0284 43.4444 98.709 43.6574 98.2831 43.6574Z" fill="#10B6AA"/>
                                <path d="M103.607 43.6574H101.904C101.478 43.6574 101.158 43.4444 101.158 43.2315V32.4768C101.158 32.1574 101.478 32.0509 101.904 32.0509H103.607C104.033 32.0509 104.353 32.2639 104.353 32.4768V43.2315C104.246 43.4444 103.927 43.6574 103.607 43.6574Z" fill="#10B6AA"/>
                                <path d="M108.931 43.6574H107.228C106.802 43.6574 106.482 43.4444 106.482 43.2315V32.4768C106.482 32.1574 106.802 32.0509 107.228 32.0509H108.931C109.357 32.0509 109.677 32.2639 109.677 32.4768V43.2315C109.677 43.4444 109.251 43.6574 108.931 43.6574Z" fill="#10B6AA"/>
                                <path d="M88.3803 26.4074C88.2738 25.5556 87.9544 24.9167 87.5284 24.3843C87.4219 24.1713 87.209 24.0648 87.1025 23.9583C86.5701 23.6389 85.8247 23.4259 85.0794 23.4259C84.547 23.4259 82.7368 23.7454 79.9682 24.2778V13.3102C79.9682 12.9907 79.7553 12.7778 79.4358 12.7778H76.2414C75.9219 12.7778 75.709 12.9907 75.709 13.3102V43.125C75.709 43.4444 75.9219 43.6574 76.2414 43.6574H79.4358C79.7553 43.6574 79.9682 43.4444 79.9682 43.125V26.8333C81.3525 26.6204 82.3108 26.6204 82.7368 26.6204C83.6951 26.6204 84.2275 27.1528 84.2275 28.2176V43.0185C84.2275 43.338 84.4405 43.551 84.7599 43.551H87.9544C88.2738 43.551 88.4868 43.338 88.4868 43.0185V27.1528C88.3803 26.9398 88.3803 26.6204 88.3803 26.4074Z" fill="#10B6AA"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_8431_2544">
                                    <rect width="115" height="52" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <p class="footer__desc">
                        Подбор, бронирование и продажа туров от крупнейших туроператоров России — по вашим предпочтениям
                    </p>
                    <div class="footer-socials">
                        {% for item in socials %}
                            <a v-link href="{{ item.link }}" class="footer-socials__link">
                                <img src="{{ item.img }}" alt="{{ item.name }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="footer-nav">
                    <div class="footer-nav__column">
                        <h4 class="footer-nav__title">Навигация</h4>
                        {% for item in navigationFooter %}
                            <a v-link href="{{ item.link }}" class="footer-nav__item link-hover">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="footer-nav__column">
                        <h4 class="footer-nav__title">Туристам</h4>
                        {% for item in tourist %}
                            <a v-link href="{{ item.link }}" class="footer-nav__item link-hover">{{ item.name }}</a>
                        {% endfor %}
                        <div class="footer-nav__item link-hover">Обратная связь</div>
                    </div>
                    <div class="footer-nav__column">
                        <h4 class="footer-nav__title">Популярные направления</h4>
                        {% for item in popularTour %}
                            <a v-link href="{{ item.link }}" class="footer-nav__item link-hover">{{ item.name }}</a>
                        {% endfor %}
                        {% include "@components/ui-components/link-arrow/template.twig" with {
                            text: 'Все направления',
                            link: '',
                            small: 1
                        } %}
                    </div>
                    <div class="footer-nav__column">
                        <h4 class="footer-nav__title">Популярные курорты</h4>
                        {% for item in popularResort %}
                            <a v-link href="{{ item.link }}" class="footer-nav__item link-hover">{{ item.name }}</a>
                        {% endfor %}
                        {% include "@components/ui-components/link-arrow/template.twig" with {
                            text: 'Все направления',
                            link: '',
                            small: 1
                        } %}
                    </div>
                </div>

                <div class="footer__contacts">
                    <div class="footer__contacts-tel link-hover">
                        <a href="tel:{{ contacts.tel|replace({' ': ''}) }}">{{ contacts.tel }}</a>
                    </div>
                    <div class="footer__contacts-link">{{ contacts.address }}</div>
                    <div class="footer__contacts-link link-hover">
                        <a v-link href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                    </div>
                </div>
            </div>

            <div class="footer__addition">
                <p class="footer__addition-text">
                    Информация от партнеров генерируется автоматически и не является публичной офертой
                </p>
            </div>

            <div class="footer-policy">
                <div class="footer-policy__text">
                    <a v-link href="/privacy-policy" class="footer-policy__link link-hover">
                        Политика конфиденциальности
                    </a>
                </div>
                <a v-link href="http://tdsgn.ru/" target="_blank" class="footer-policy__tdsgn">
                    <img src="/dist/assets/img/tdsgn.png" alt="tdsgn"/>
                </a>
            </div>
        </div>
    </footer>
</footer-cmp>
